checked_out
checked_out_2
lib/toml-to-env
results*
node_modules
lib/node_modules
scripts/node_modules
.env
.env_override

# Coverage and build artifacts
.nyc_output
coverage
*.log

# Make artifacts
build
post-csv-to-excel
post-summarize-csv