# Example License Scanner Config - Standalong Version
# use this config for running license-scanner across multiple repos at once
# this is useful for running big audits across the entire Mojaloop codebase

[environment]

title = "License Scanner Config"

##
# What mode should we run the scanner in?
# options:
# - "standalone": will run the tool against all repos listed in the `repos` list (below)
# - "local": will run the tool against the repo defined in `pathToRepo`
# - "docker": will run the tool against the docker images defined in `dockerImages`
mode = 'local'


# How we should process the licenses
# options are: 
# - "fossa-api": will export to fossa api (requires FOSSA_API_KEY to be set in .env)
# - "fossa-json": will export from fossa to a folder of json files. This just shows import heirarchies, and doesn't scan licenses
# - "lc-csv": will use npm license-checker, and export to a list of csv files
tool = "lc-csv"


##
# The path to the repo that will be scanned
# Ignored when `mode != "local"`
#
# e.g.
# pathToRepo = "/Users/ldaly/developer/vessels/mojaloop-github/ml-api-adapter"
#
# Override by setting `pathToRepo` env variable
##
pathToRepo = ""

##
# The docker image to be scanned.
# DEPRECATED: use `dockerImages` instead
#
# Ignored when `mode != "docker"`
# Override by setting `dockerImage` env variable
##
dockerImage = ''


##
# A list of docker images to scan
#
# Ignored when `mode != "docker"`
# Override by setting `dockerImages` env variable
##
dockerImages = [
  "mojaloop/account-lookup-service:v8.7.0",
  "mojaloop/als-oracle-pathfinder:v8.7.1",
  "mojaloop/bulk-api-adapter:v8.7.0-snapshot",
  "mojaloop/central-end-user-registry:v2.4",
  "mojaloop/central-event-processor:v8.6.0",
  "mojaloop/central-event-processor:v8.7.0",
  "mojaloop/central-ledger:v8.7.1",
  "mojaloop/central-settlement:v8.6.0",
  "mojaloop/email-notifier:v8.7.0",
  "mojaloop/event-sidecar:v8.7.0",
  "mojaloop/event-sidecar:v8.7.1",
  "mojaloop/event-stream-processor:v8.7.2-snapshot",
  "mojaloop/finance-portal-backend-service:v0.0.1",
  "mojaloop/finance-portal-backend-service:v0.0.5",
  "mojaloop/finance-portal-ui:v0.0.3",
  "mojaloop/ml-api-adapter:v8.7.2",
  "mojaloop/operator-settlement:latest",
  "mojaloop/quoting-service:v8.7.0-snapshot",
  "mojaloop/settlement-management:latest",
  "mojaloop/simulator:v8.7.1",
  "mojaloop/transaction-requests-service:v8.7.0"
]

##
# A list of docker images (or image name substrings) to skip scanning
#
# Ignored when `mode != "docker"`
# This is useful when scanning a list of images in helm we don't know
# ahead of time
##
skipDockerImages = [
  "mojaloop/finance-portal-ui"
]


##
# The list of repos to scan
# Lines starting with a # will be ignored
# Ignored when `mode != "standalone"`
##
repos = [
  "https://github.com/mojaloop/account-lookup-service",
  "https://github.com/mojaloop/central-ledger",
  "https://github.com/mojaloop/quoting-service",
  "https://github.com/mojaloop/central-event-processor",
  "https://github.com/mojaloop/ml-api-adapter",
  "https://github.com/mojaloop/simulator",
  "https://github.com/mojaloop/mock-pathfinder",
  "https://github.com/mojaloop/pathfinder-provisioning-client",
  "https://github.com/mojaloop/central-services-stream",
  "https://github.com/mojaloop/email-notifier",
  "https://github.com/mojaloop/central-settlement",
  "https://github.com/mojaloop/interop-switch-js",
  "https://github.com/mojaloop/central-services-shared",
  "https://github.com/mojaloop/central-services-error-handling",
  "https://github.com/mojaloop/central-services-auth",
  "https://github.com/mojaloop/central-services-database",
  "https://github.com/mojaloop/central-services-metrics",
  "https://github.com/mojaloop/forensic-logging-sidecar",
  "https://github.com/mojaloop/central-kms",
]

##
# A list of packages that we have manually audited and are ok with.
#
# string: Format: "<package>;<reason>"
#
#
# e.g.
# excludeList = [
#   "taffydb@2.6.2;Contains MIT license on github, but not listed in package.json"
# ]
#
# will ignore taffydb@2.6.2 in the license check, and put the "Contains MIT..." reason in the license-summary
##
excludeList = [
  "taffydb@2.6.2;Contains MIT license on github, but not listed in package.json",
  "buffercursor@0.0.12;No license on github or npm", # has no license on github or npm
  "cycle@1.0.3;Listed as Public-Domain on npm, but no License file in github",
  "spdx-exceptions@2.2.0;Requires attribution"
]

##
# A list of licenses strings that we allow.
##
allowedList = [
  "AFLv2.1",
  "Apache License, Version 2.0",
  "Apache*",
  "Apache-2.0",
  "Apache 2.0",
  "BSD",
  "BSD*",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "CC-BY-3.0",
  "CC-BY-4.0",
  "CC0-1.0",
  "ISC",
  "MIT",
  "MIT*",
  "Public Domain",
  "UNLICENSED",
  "Unlicense",
  "Unlicensed",
  "WTFPL",
  "(BSD-2-Clause OR MIT OR Apache-2.0)",
  "(MIT OR Apache-2.0)",
  "(MIT OR CC0-1.0)",
  "(Unlicense OR Apache-2.0)",
  "WTFPL OR ISC",
  "(WTFPL OR MIT)",
]
